/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Basic layout styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    width: 70vw;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

table{
    width: 100%;
    border: 1px solid black;
    margin: 1rem auto;
    border-collapse: collapse;
}

.tableHead{
    height: 50px;
}

.tableColumn{
    width: 30%;
    text-align: left;
    color: lightblue;
    padding-left: 0.5rem;
    border: 1px solid black;
}

.priceColumn{
    width: 40%;
    text-align: left;
    color: lightblue;
    padding-left: 0.5rem;
    border: 1px solid black;
}

.tableRow{
    border: 1px solid black;
    padding: 0.5rem;
}

.tableData{
    border: 1px solid black;
    padding: 0.5rem;
}

.btnContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

button{
    background-color: #333;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
}

#backBtn{
    margin-right: 1rem;
}

.disabled{
    visibility: 0.2;
    background-color: gray;
    cursor:not-allowed;
}

.imageSize{
    width: 25px;
    height: auto;
}

.nameOuterDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
}

.nameInnerDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-left: 0.5rem;
}

.priceHigh{
    padding: 1rem;
    background-color: rgba(37, 222, 105, 0.3);
    width: 50px;
}

.priceLow{
    padding: 1rem;
    background-color: rgba(231, 53, 21, 0.3);
    width: 50px;
}

.inlineDiv{
    display: inline-block;
    height: 100%;
}

.priceSection{
    text-align: center;
    height: 100%;
}

.priceNum{
    padding-right: 1rem;
}