/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Basic layout styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

main {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

/* Add your CSS below here */

#testimonial-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1rem auto;
    height: auto;
}

.testimonial{
    border-radius: 15px;
    border-left: 5px solid lightblue;
    background-color: #333;
    width: clamp(450px, 40%, 45%);
    padding: 20px;
    margin: 1rem auto;
}

.testimonial-message{
    font-size: 16px;
    color: rgb(238, 238, 238);
    font-family: monospace;
}
